.primary {
  background-color: dodgerblue;
}
.applycolor {
  background-color: #d9534f;
  border-color: #d9534f;
}
.mat-paginator-range-label {
  margin: 0;
}
.book-filter {
  float: right;
  margin-right: 11%;
}
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}
.my-slider {
  transform: scale(2);
}
.mat-slider-horizontal {
  width: 35% !important;
}
