<!-- <button class=primary [routerLink]="['/saveBook']">Add Book</button> -->
<div>
  <button type="button" class="btn btn-primary" [routerLink]="['/saveBook/', '0']">Add Book</button>
  <span class="book-filter">
    FilterBook:
    <input type="text" name="firstname" [(ngModel)]="filterString">
  </span>
  <div>
    <span>
      <mat-slider thumbLabel [value]="150" tickInterval="1000" min="1" max="1000" (change)="onSliderValueChange($event)"></mat-slider>
    </span>
    <span *ngIf="sliderActive == true">
      Price Upto: {{obj.bookCostRange}}
    </span>
  </div>
  <table class="table table-hover table-striped">
    <thead class="thead-light table-striped">
      <tr>
        <th>#</th>
        <th>Image</th>
        <!-- <th>_Id</th> -->
        <th>Code</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Price</th>
        <th>Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of listBooks| aman: filterString ; let i = index">
        <td>{{i + (indexStart)}}</td>
        <td>
          <div *ngIf="book && book.image_url && book.image_url.contentType && book.image_url.image"><img style="width: 40px; height: 40px; border-radius: 0em;" src="data:{{book.image_url.contentType}};base64,{{book.image_url.image}}"></div>
        </td>
        <!-- <td>{{book._id}}</td> -->
        <td>{{book.code}}</td>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.count}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)=onClickEdit(book)>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary applycolor" (click)=onClickDelete(book)>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="paginatorBottom">
    <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" (page)="onClickPaginator($event)">
    </mat-paginator>
  </div>
</div>
