<!-- <p *ngFor="let item of bookInfo | keyvalue">
  Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
</p> -->
<div class="addToCart">
  <div class="container">
    <div class=row>
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="row" *ngIf="fetchCartBook">
          <div class="col-md-4" id="bookBlock" *ngFor="let book of fetchedCartBook">
            <div class="image">
              <div class="imgView"> <img src="https://via.placeholder.com/150" alt="img"></div>
              <p>
                Price: <span>{{book.book_price }}</span> <br />
                Title: <span>{{book.book_title }}</span> <br />
                Code: <span>{{book.book_code }}</span> <br />
              </p>
              <div class="value-button" id="decrease" value="Decrease Value" (click)="decrease(book._id)">-</div>
              <input type="number" id="number" value="0" [(ngModel)]="book.val" min="1" (keyup)="validate($event,book._id)" />
              <div class="value-button" id="increase" value="Increase Value" (click)="increase(book._id)">+</div>
              <div *ngIf="message">
                {{message}}
              </div>
              <div>
                ₹{{book.totalAmount}}
              </div>
              <div>
                <button type=" button" class="btn btn-primary" (click)="remove(book.book_code); fetchCartBook()">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <div class="payment">
          <a [routerLink]="['/payment']" [queryParams]="bookInfo"><button type="button" class="btn btn-primary">Place Order</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
