<div class="sidenav forBox">
  <div class="sideMargin">
    <div class="sdf subSideMargin">
      <section class="ssf">
        <div class="adf2">
          <span>Filters</span>
        </div>
      </section>
    </div>
    <hr>
    <div class="subSideMargin">
      <section>
        <div>
          <span>CATEGORIES</span>
        </div>

        <div class="dropdown ">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a  title ="books" href="#">Class 6</a>
            <a href="#">Class 7</a>
            <a href="#">Class 8</a>
            <a href="#">Class 9</a>
            <a href="#">Class 10</a>
            <a href="#">Class 11</a>
            <a href="#">Class 12</a>

            <a class="_3XS1AH _32ZSYo" title="Books" href="/books/pr?sid=bks&amp;p[]=facets.serviceability%5B%5D%3Dtrue&amp;otracker=categorytree">Books</a>

          </div>
        </div>
      </section>
    </div>
    <hr style="margin-top: 7px;">
  </div>
</div>
